<%- layout('layouts/main.ejs') %>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card mt-4">
      <div class="card-header">
        <h3>Registrarse</h3>
      </div>
      <div class="card body">
        <form action="/signup" method="POST">
          <div class="form-grop"></div>
          <input
            type="email"
            name="email"
            placeholder="Insert email"
            class="form-control"
          />
          <br />
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Insert Password"
              class="form-control"
            />
          </div>

          <br />
          <select id="Carrera" name="Carrera">
            <option disabled selected="">Selecione una Carrera</option>
            <option value="Sistematizacion de Datos">
              Sistematizacion de Datos
            </option>
            <option value="Civiles">Civiles</option>
            <option value="Industrial">Industrial</option>
          </select>
          <br />
          
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-dark btn-block mt-4">
              Registrarse
            </button>


          

          
        </form>
      </div>
    </div>
  </div>
</div>
